@import "cimma/misc/decorations";

$max-width: 70em;

a {
	&:active, &:visited, &:link {
		color: $pink-dark;
	}
}

body {
	background: $neutral-light;
	color: $neutral-dark;
	margin: 0 auto;
	padding: 0;
	max-width: $max-width;
	overflow-x: hidden;
}

body > header {
	$svg-width: 185px;
	$svg-height: 51px;
	$svg-aspect-ratio: $svg-height / $svg-width;
	$width: 8em;

	background: $green-light;

	@extend %full-width;
	padding: 1em $spacing-primary 0;

	//border-bottom: 1px solid $green-dark;
	//@include inset(2px, $padding: null) {
	//	border-bottom: 2px dotted $green-dark;
	//	z-index: 1;
	//}

	h1 {
		background: url('../images/cimmanon.svg') 0 0 / cover no-repeat;
		width: $width;
		height: $width * $svg-aspect-ratio;
		text-indent: -100em;
		margin: 0 auto;
	}

}

body > footer {
	margin-top: $spacing-primary;
	background: $green-light;
	border-top: 1px solid $green-dark;
	padding-top: $spacing-primary;
	padding-bottom: $spacing-primary;
	@extend %full-width;

	position: relative;

	@include inset(2px, $padding: null) {
		border-top: 2px dotted $green-dark;
	}

	// TODO: figure out a more permanent solution for this
	// needed so that the contents line up with the rest of the document
	> * {
		margin-left: $spacing-primary;
	}
}

main {
	margin: 0 auto 1em;
	padding: 0 $spacing-primary;
	max-width: $max-width;
}

%full-width {
	margin-right: -50%;
	margin-right: -50vw;
	margin-left: -50%;
	margin-left: -50vw;

	padding-right: 50%;
	padding-right: 50vw;
	padding-left: 50%;
	padding-left: 50vw;
}

%main-header {
	background: $neutral-medium;
	border-top: 1px solid $green-dark;
	border-bottom: 1px solid $green-dark;
	text-align: center;
	color: $green-dark;

	position: relative;

	@extend %full-width;

	@include inset(2px, after) {
		border-top: 2px dotted;
		border-bottom: 2px dotted;
	}
}

%ruled-header {
	@extend %main-header;

	$svg-height: 3.5rem;
	margin-top: $svg-height + 1rem;

	&:before {
		content: '';
		height: $svg-height;
		background: url('../images/petals.svg') center bottom / contain no-repeat;
		position: absolute;
		top: -$svg-height;
		left: 0;
		right: 0;
	}
}

main > h1 {
	@extend %main-header;
}

h1.main-header {
	@extend %main-header;
	@extend %ruled-header;
}
