@import "cimma/misc/decorations";

html {
	// for sticky footer
	height: 100%;
}

body {
	background: $neutral-light;
	color: $neutral-dark;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	//max-width: $max-width;

	// for sticky footer
	@include display-flex;
	@include flex-direction(column);
	height: 100%;

	@media (min-width: $layout-2-col) {
		max-width: $absolute-max-width;
	}
}

//***************************************************************************************************\
//                                                                    | Header
//***************************************************************************************************/

body > header {
	background: $green-light;
	position: relative;

	@extend %full-width;
	padding-top: 1em;

	h1 {
		@include graceful-svg('../images/cimmanon.svg');
		text-indent: -100em;
		margin: 0 auto;
		font-size: ms(1);

		$width: 8em;
		width: $width;
		height: $width * $logo-aspect-ratio;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		@media (min-width: $layout-2-col) {
			font-size: ms(3);
		}
	}

	nav {
		text-align: center;
		margin-bottom: -.5em;

		ul {
			padding-left: 0;
		}

		li {
			display: inline-block;
			margin: .5em .75em;
		}

		@media (min-width: 28em) {
			position: absolute;
			right: 0;
			left: 0;
			bottom: .5em; // bump this up to 1em to be consistent with the rest of the spacing?

			// unfortunately, none of this works in old Webkit browsers (Safari, Android)
			// thankfully, most Android users probably won't be hitting this breakpoint anyway

			// the idea here is to use pseudo elements so we can adjust their size via font-size
			// to match how the swirls are being resized down below.  thanks to flexbox, we can
			// reorder the pseudo elements to be in the middle of our list.  the end result is
			// significantly simpler/smaller code than trying to use margins.
			ul {
				@include display-flex;
				@include justify-content(center);

				// this isn't perfectly centered, but it's close enough for our purposes
				&:before, &:after {
					$width: $floral-swirl-aspect-ratio * 3em; // this approximation of the width of the swirls is close enough

					@include flex(0 0 auto);
					@include order(1);
					display: block;
					content: '';
					width: $width / 2;
				}

				&:before {
					margin-left: 1em;
				}

				&:after {
					margin-right: 1em;
				}
			}

			li {
				min-width: 3em;
				text-align: right;

				// the first 2 items should be aligned right
				// the last 2 items should be aligned left
				&:nth-child(2) {
					~ li {
						text-align: left;
						@include order(2);
					}
				}
			}

			@media (max-width: $layout-2-col) {
				ul:before, ul:after {
					font-size: ms(-1);
				}

				li {
					margin: .5em;
				}
			}
		}
	}

	&:after {
		display: block;
		content: '';
		height: 3em;
		@include background-swirls;
		margin-top: 1em;
		@media (max-width: $layout-2-col) {
			font-size: ms(-1);
		}
	}
}

//***************************************************************************************************\
//                                                                    | Main
//***************************************************************************************************/

main {
//	margin: 0 auto 1em;
	margin: 0 0 1em; // left/right margins need to be 0 for Presto/Mozilla
	padding: 0 $spacing-primary;
	//max-width: $absolute-max-width;
	position: relative;
	z-index: 100;

	// for sticky footer
	// flex-shrink must be 0, otherwise IE11 will horribly misposition the footer on really long pages
	@include flex(1 0 auto);

	@supports (display: flex) {
		// this is a fix for Presto and Mozilla
		// for some reason the left/right auto margins cause it to be smaller than it should be
		// it's only necessary for flexbox enabled browsers
		//margin-left: 0;
		//margin-right: 0;
	}

	@media (max-width: $layout-2-col) {
		//@include max-width; // not necessary due to max-width on body element instead
	}
}

//***************************************************************************************************\
//                                                                    | Footer
//***************************************************************************************************/

body > footer {
	margin-top: $spacing-primary;
	background: $green-light;
	border-top: 1px solid $green-dark;
	padding-top: $spacing-primary / 2;
	padding-bottom: $spacing-primary;
	@extend %full-width;

	position: relative;
	@include display-flex;
	@include flex-wrap(wrap);
	@include flex(0 0 auto); // fix for IE11 (otherwise element won't extend to contain all of the content)

	@include inset(2px, $padding: null, $position: null) {
		border-top: 2px dotted $green-dark;
	}

	> *, > section:first-child { // pseudo element here to ensure we override `section:first-child` from our baseline
		margin: .5em 0;
		@include flex(1 1 12em);
		padding: 0 $spacing-primary;
		@include box-sizing(border-box);
		min-width: 25%;
	}

	h1 {
		font-size: ms(1);
	}

	.about {
		@include flex(4 1 20em);
	}

	.copyright {
		font-size: ms(-1);
		@include flex(1 1 100%);
		text-align: right;
	}
}

//***************************************************************************************************\
//                                                                    | Major Headlines
//***************************************************************************************************/

%main-header {
	background: $neutral-medium;
	border-top: 1px solid $green-dark;
	border-bottom: 1px solid $green-dark;
	text-align: center;
	color: $green-dark;

	position: relative;

	@extend %full-width;

	@include inset(2px) {
		border-top: 2px dotted;
		border-bottom: 2px dotted;
	}

	+ * {
		margin-top: $spacing-primary;
	}
}

%floral-header {
	$floral-swirl-max-height: 2em;

	@media not print {
		margin-top: $floral-swirl-max-height * .8 + ($spacing-primary / 2);

		&:before {
			content: '';
			height: $floral-swirl-max-height;
			margin-top: -$floral-swirl-max-height;
			@include background-swirls;
			transform: translateY(-2px); // fixes an undesirable 2px gap
			display: block;
			font-size: .8em;
		}

		@media not print and (min-width: $layout-2-col) {
			margin-top: $floral-swirl-max-height + ($spacing-primary / 2);

			&:before {
				font-size: 1em;
			}
		}
	}
}

main > h1 {
	@extend %main-header;

	&:not(:first-child) {
		@extend %floral-header;
	}
}

//***************************************************************************************************\
//                                                                    | Major Sections
//***************************************************************************************************/

%major-section {
	> h1 {
		@extend %main-header;
		@extend %floral-header;
	}
}

.major-section, article.major, section.major {
	@extend %major-section;

	&:not(:last-child) {
		padding-bottom: $spacing-primary / 2; // padding instead of margin to deal with margin-collapse
	}

	> h1 + * {
		//@extend %listing;
	}
}