//***************************************************************************************************\
//                                                                    | Colors
//***************************************************************************************************/

$green-light: #ddede4;
$green-dark: #007259;

$pink-light: #fff5fb; // not sure on this one
$pink-dark: #c9007a;

$neutral-light: #fffffc;
$neutral-medium: #EBE5DA;
$neutral-dark: #534741;
