body {
  font: 100%/1.4 Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, blockquote, div, main, section, article, aside, fieldset, hgroup {
  margin: 1em 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, ul:first-child, ol:first-child, dl:first-child, table:first-child, blockquote:first-child, div:first-child, main:first-child, section:first-child, article:first-child, aside:first-child, fieldset:first-child, hgroup:first-child {
  margin-top: 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, ul:last-child, ol:last-child, dl:last-child, table:last-child, blockquote:last-child, div:last-child, main:last-child, section:last-child, article:last-child, aside:last-child, fieldset:last-child, hgroup:last-child {
  margin-bottom: 0;
}

a {
  color: #016bb0;
}
a:visited {
  color: #662d91;
}
a:hover {
  color: #0199fc;
}

abbr[title] {
  border-bottom: 1px dotted;
}

address {
  white-space: pre;
  white-space: pre-line;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: .8em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

summary {
  cursor: pointer;
  cursor: hand;
}

ul, ol {
  padding-left: 2em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0.5em;
  border-left: .5em solid;
  padding-left: 1em;
}

dd + dt {
  margin-top: 0.75em;
}

table.tabular {
  border-collapse: collapse;
}
table.tabular th, table.tabular td {
  border: 1px solid;
  padding: .25em;
}

table * {
  font-size: inherit;
}
table th, table td {
  empty-cells: show;
}
table tbody th {
  text-align: left;
}
table tfoot td[colspan], table tfoot th[colspan] {
  text-align: right;
}
@media (max-width: 35em) {
  table th[abbr] {
    content: attr(abbr);
  }
}
table.tabular tbody:nth-of-type(even) tr, table.tabular tbody:only-of-type tr:nth-child(even) {
  background: #CCC;
}
table.associative tbody th[colspan] {
  text-align: center;
}

td.decimal, td.currency {
  text-align: right;
  text-align: '.';
}
td.fraction {
  text-align: center;
  text-align: '/';
}
td.numeric, td.range, td.small {
  text-align: center;
}
td ul {
  padding-left: 1em;
}

input, textarea, select {
  font-size: inherit;
  padding: .25em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus, textarea:focus, select:focus {
  -moz-box-shadow: 0px 0px 0.25em 0.25em #BDE5F8;
  -webkit-box-shadow: 0px 0px 0.25em 0.25em #BDE5F8;
  box-shadow: 0px 0px 0.25em 0.25em #BDE5F8;
  outline: none;
}
input:focus:invalid, input:focus:out-of-range, textarea:focus:invalid, textarea:focus:out-of-range, select:focus:invalid, select:focus:out-of-range {
  -moz-box-shadow: 0px 0px 0.25em 0.25em #F8AAAA;
  -webkit-box-shadow: 0px 0px 0.25em 0.25em #F8AAAA;
  box-shadow: 0px 0px 0.25em 0.25em #F8AAAA;
}
input:focus:valid, input:focus:in-range, textarea:focus:valid, textarea:focus:in-range, select:focus:valid, select:focus:in-range {
  -moz-box-shadow: 0px 0px 0.25em 0.25em #cfd88a;
  -webkit-box-shadow: 0px 0px 0.25em 0.25em #cfd88a;
  box-shadow: 0px 0px 0.25em 0.25em #cfd88a;
}

textarea {
  height: 5em;
}

input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], textarea {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  border: 1px solid #CCC;
}

input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], textarea {
  width: 15em;
  max-width: 100%;
  -webkit-appearance: textfield;
}

input.x-small, textarea.x-small {
  width: 2.5em;
}
input.small, textarea.small {
  width: 5em;
}
input.medium, textarea.medium {
  width: 15em;
}
input.large, textarea.large {
  width: 25em;
}
input.x-large, textarea.x-large {
  width: 50em;
}
input.maximum, textarea.maximum {
  width: 100%;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
  padding: .25em .5em;
}

fieldset {
  border: 1px solid;
  padding: 1em;
}

fieldset ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

label {
  white-space: nowrap;
}
@media (max-width: 35em) {
  label input:not([type="radio"]):not([type="checkbox"]) {
    display: block;
  }
}

form.simplified > label, form .simplified > label, form.simplified label select, form .simplified label select, form.simplified label textarea, form .simplified label textarea, form.simplified label input:not([type="radio"]):not([type="checkbox"]), form .simplified label input:not([type="radio"]):not([type="checkbox"]) {
  display: block;
}

a:active, a:visited, a:link {
  color: #c9007a;
}

img {
  -moz-box-shadow: 0 0 0.5em 0 rgba(102, 102, 102, 0.5);
  -webkit-box-shadow: 0 0 0.5em 0 rgba(102, 102, 102, 0.5);
  box-shadow: 0 0 0.5em 0 rgba(102, 102, 102, 0.5);
  max-width: 100%;
  height: auto;
}

blockquote {
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  text-align: center;
}

header h1:not(:last-child) {
  margin-bottom: 0;
}

fieldset ul, fieldset .inputList {
  margin-top: 0;
}

.False {
  color: #c5bab5;
}

td.bool {
  text-align: center;
}

td.fixed {
  text-align: center;
}

table.spreadsheet {
  border-collapse: collapse;
  border: 1px solid #EBE5DA;
}
table.spreadsheet th {
  background: #EBE5DA;
}
table.spreadsheet td, table.spreadsheet th {
  padding: .25em .5em;
}
table.spreadsheet td {
  border-bottom: 1px solid #EBE5DA;
}
table.spreadsheet tbody tr:nth-child(even) {
  background: #fff5fb;
}

blockquote, .listing > *:only-child, .details {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

body > header, body > footer, main > h1:not(:first-child), .project > h1, main > h1 {
  margin-right: -50%;
  margin-right: -50vw;
  margin-left: -50%;
  margin-left: -50vw;
  padding-right: 50%;
  padding-right: 50vw;
  padding-left: 50%;
  padding-left: 50vw;
}

header .tags {
  margin-top: 0;
  padding-left: 0;
  margin-left: -0.75em;
  margin-right: -0.75em;
}
header .tags li {
  display: inline-block;
  margin: 0 0.75em;
}

fieldset .tags {
  -moz-columns: 8em;
  -webkit-columns: 8em;
  columns: 8em;
}

@media (min-width: 60em) {
  .listing {
    -moz-columns: 25em 2;
    -webkit-columns: 25em 2;
    columns: 25em 2;
    -moz-column-rule: 2px dotted #EBE5DA;
    -webkit-column-rule: 2px dotted #EBE5DA;
    column-rule: 2px dotted #EBE5DA;
    -moz-column-gap: 4em;
    -webkit-column-gap: 4em;
    column-gap: 4em;
  }
  .listing > * {
    page-break-inside: avoid;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    padding-bottom: .5em;
  }
  .listing > * ~ * {
    margin-top: 2em;
  }
  .listing > *:first-child:nth-last-child(2) {
    margin-bottom: 0;
  }
  .listing > *:last-child:nth-child(2) {
    page-break-inside: column;
    -moz-page-break-before: column;
    -webkit-column-break-before: column;
    break-before: column;
    margin-top: 0;
  }
}
.listing > *:only-child {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
}
.listing p {
  white-space: pre-wrap;
}
.listing img {
  display: block;
  margin: 1em auto;
}
.listing img:first-child {
  margin-top: 0;
}
.listing img:last-child {
  margin-bottom: 0;
}

.tag_list {
  -moz-columns: 9em;
  -webkit-columns: 9em;
  columns: 9em;
}

.year_list {
  text-align: center;
  margin: 1em -.75em;
}
.year_list li {
  display: inline-block;
  margin: .75em;
}

a.more {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: .5em;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  background-color: #EBE5DA;
  border: 1px solid #d0c2a8;
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 3px 1px rgba(204, 204, 204, 0.3);
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 3px 1px rgba(204, 204, 204, 0.3);
  box-shadow: inset 0 1px 0 white, 0 1px 3px 1px rgba(204, 204, 204, 0.3);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZTVkYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5Y2ViOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebe5da), color-stop(100%, #d9ceb9));
  background-image: -moz-linear-gradient(#ebe5da, #d9ceb9);
  background-image: -webkit-linear-gradient(#ebe5da, #d9ceb9);
  background-image: linear-gradient(#ebe5da, #d9ceb9);
  color: #534741;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
}
a.more:hover {
  background-color: #e2d9c9;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZDljOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QwYzJhOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2d9c9), color-stop(100%, #d0c2a8));
  background-image: -moz-linear-gradient(#e2d9c9, #d0c2a8);
  background-image: -webkit-linear-gradient(#e2d9c9, #d0c2a8);
  background-image: linear-gradient(#e2d9c9, #d0c2a8);
  cursor: hand;
  cursor: pointer;
}
a.more:active {
  -moz-box-shadow: inset 0 1px 2px #cbbb9e;
  -webkit-box-shadow: inset 0 1px 2px #cbbb9e;
  box-shadow: inset 0 1px 2px #cbbb9e;
}

html {
  height: 100%;
}

body {
  background: #fffffc;
  color: #534741;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  max-width: 30em;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 60em) {
  body {
    max-width: 70em;
  }
}

body > header {
  background: #ddede4;
  padding: 1em 2em 0;
}
body > header h1 {
  background: url("../images/cimmanon.svg") 0 0/cover no-repeat;
  text-indent: -100em;
  margin: 0 auto;
  width: 4.8em;
  height: 1.33125em;
}
body > header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
body > header:after {
  display: block;
  content: '';
  height: 2.4rem;
  background: url("../images/floral-swirls.svg") center bottom/contain no-repeat;
  margin-top: 1em;
}
@media (min-width: 60em) {
  body > header h1 {
    width: 8em;
    height: 2.21875em;
  }
  body > header:after {
    height: 3rem;
  }
}

main {
  margin: 0 0 1em;
  padding: 0 2em;
  position: relative;
  z-index: 100;
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

body > footer {
  margin-top: 2em;
  background: #ddede4;
  border-top: 1px solid #007259;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  z-index: 1;
}
body > footer:after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-top: 2px dotted #007259;
}
body > footer > * {
  margin-left: 2em;
}

main > h1:not(:first-child), .project > h1, main > h1 {
  background: #EBE5DA;
  border-top: 1px solid #007259;
  border-bottom: 1px solid #007259;
  text-align: center;
  color: #007259;
  position: relative;
  position: after;
  padding: 2px;
  z-index: 1;
}
main > h1:not(:first-child):after, .project > h1:after, main > h1:after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
}

main > h1:not(:first-child), .project > h1 {
  margin-top: 2.6em;
}
main > h1:not(:first-child):before, .project > h1:before {
  content: '';
  height: 1.6em;
  margin-top: -1.6em;
  background: url("../images/floral-swirls.svg") center bottom/contain no-repeat;
  transform: translateY(-2px);
  display: block;
}
@media (min-width: 60em) {
  main > h1:not(:first-child), .project > h1 {
    margin-top: 3em;
  }
  main > h1:not(:first-child):before, .project > h1:before {
    margin-top: -2em;
    height: 2em;
  }
}

.project {
  padding-bottom: 1em;
}
.project > h1 + section {
  margin-top: 0;
}
.project aside {
  text-align: center;
  margin-top: 2em;
}
.project .listing + p {
  text-align: center;
}

.details {
  text-align: center;
  margin-top: 2em;
}
.details p {
  text-align: left;
}
.details:after {
  content: '';
  display: block;
  margin: 1.5em auto;
  background: url(../images/minor-divider.svg) center bottom/contain no-repeat;
  height: 1.25em;
}

.admin {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.admin > nav {
  -ms-flex: 1 1 8em;
  -webkit-flex: 1 1 8em;
  flex: 1 1 8em;
}
.admin > nav ul ul {
  margin-top: 0;
}
@media (min-width: 60em) {
  .admin > nav {
    border-right: 2px dotted #EBE5DA;
    padding-right: 2em;
    margin-right: 2em;
  }
}
.admin > article {
  margin-top: 0;
  -ms-flex: 1 1 30em;
  -webkit-flex: 1 1 30em;
  flex: 1 1 30em;
}
@media (max-width: 60em) {
  .admin > nav {
    padding-bottom: 2em;
    border-bottom: 2px dotted #EBE5DA;
  }
  .admin > article {
    margin-top: 2em;
  }
}
