@import "compass/css3/columns";
@import "compass/css3/box-shadow";

// force all images to be responsive
img {
	@include box-shadow(0 0 .5em 0 rgba(#666, .5));
	max-width: 100%;
	height: auto;
}

.tags {
	$spacing: .75em;

	padding-left: 0;
	margin-left: -$spacing;
	margin-right: -$spacing;

	li {
		display: inline-block;
		margin: 0 $spacing;
	}

	header & {
		margin-top: 0;
	}
}

.listing, %listing {
	@include columns(25em 2);
	@include column-fill(auto);
	@include column-rule($border-secondary);
	@include column-gap(4em);

	> * {
		@include break-inside(avoid);
		// blink will choke if this is set to always, presto chokes on column
		//@include break-after(always);

		~ * {
			margin-top: $spacing-primary;
		}
	}

	img {
		display: block;
		margin: 1em auto;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

article > header {
	h1:not(:last-child) {
		margin-bottom: 0;
	}
}