a {
	&:active, &:visited, &:link {
		color: $pink-dark;
	}
}

img {
	@include box-shadow(0 0 .5em 0 rgba(#666, .5));
	max-width: 100%;
	height: auto;
}

blockquote {
	@extend %max-width;
	font-family: $baskerville;
	font-style: italic;
	text-align: center;
}

//***************************************************************************************************\
//                                                                    | Headlines
//***************************************************************************************************/

h1 {
	font-size: ms(3);
}

header h1:not(:last-child) {
	margin-bottom: 0;
}

article, section {
	h1 {
		font-size: ms(2);
	}

	article, section {
		h1 {
			font-size: ms(1);
		}
	}
}

//***************************************************************************************************\
//                                                                    | Forms
//***************************************************************************************************/

fieldset ul, fieldset .inputList {
	margin-top: 0;
}

//***************************************************************************************************\
//                                                                    | Tables
//***************************************************************************************************/

.False {
	color: lighten($neutral-dark, 45%);
}

td.bool {
	text-align: center;
}

td.fixed {
	text-align: center;
}

table.spreadsheet {
	border-collapse: collapse;
	border: 1px solid $neutral-medium;

	th {
		background: $neutral-medium;
	}

	td,  th {
		padding: .25em .5em;
	}

	td {
		border-bottom: 1px solid $neutral-medium;
	}

	tbody tr:nth-child(even) {
		background: $pink-light;
	}
}