a {
	&:active, &:visited, &:link {
		color: $pink-dark;
	}
}

img {
	@include box-shadow(0 0 .5em 0 rgba(#666, .5));
	max-width: 100%;
	height: auto;
}

blockquote {
	@extend %max-width;
	font-family: $baskerville;
	font-style: italic;
	text-align: center;
}

header h1:not(:last-child) {
	margin-bottom: 0;
}

fieldset ul, fieldset .inputList {
	margin-top: 0;
}

.False {
	color: lighten($neutral-dark, 45%);
}

td.bool {
	text-align: center;
}