@mixin max-width {
	max-width: 32em;
	margin-left: auto;
	margin-right: auto;
}

@mixin two-column {
	@include columns(25em 2);
	//@include column-fill(auto);
	@include column-rule($border-secondary);
	@include column-gap(4em);
}

@mixin background-swirls {
	@include graceful-svg('../images/floral-swirls.svg', center bottom, contain);
}

@mixin graceful-svg($svg-path, $position: 0 0, $size: cover) {
	$png-path: '#{str-slice($svg-path, 1, -4)}png';
	// fallback for non-SVG enabled browsers
	background: url($png-path) $position no-repeat;
	-webkit-background-size: $size;
	// for SVG enabled browsers
	background: url($svg-path) $position / $size no-repeat;
}
