$flexbox-warnings: false;

//***************************************************************************************************\
//                                                                    | Colors
//***************************************************************************************************/

$green-light: #ddede4;
$green-dark: #007259;

$pink-light: #fff5fb; // not sure on this one
$pink-dark: #c9007a;

$petal-dark: #eb65a1;
$petal-light: #f194be;

$neutral-light: #fffffc;
$neutral-medium: #EBE5DA;
$neutral-dark: #534741;

//***************************************************************************************************\
//                                                                    | Content
//***************************************************************************************************/

$max-width: 30em;
$absolute-max-width: 70em;

//***************************************************************************************************\
//                                                                    | Modular Scale
//***************************************************************************************************/

$ms-base: 1em;
$ms-ratio: 1.25;

//***************************************************************************************************\
//                                                                    | Spacing
//***************************************************************************************************/

$spacing-primary: 2em;

//***************************************************************************************************\
//                                                                    | Media Queries
//***************************************************************************************************/

$layout-2-col: $max-width * 2;

//***************************************************************************************************\
//                                                                    | Borders
//***************************************************************************************************/

$border-primary: 1px solid $green-dark;
$border-secondary: 2px dotted $neutral-medium;

//***************************************************************************************************\
//                                                                    | SVGs
//***************************************************************************************************/

// Cimmanon logo
$logo-width: 256;
$logo-height: 71;
$logo-aspect-ratio: $logo-height / $logo-width;

// main header swirls with flower
$floral-swirl-width: 382;
$floral-swirl-height: 103;
$floral-swirl-aspect-ratio: $floral-swirl-height / $floral-swirl-width;
$floral-swirl-max-height: 3rem;
