@import "compass/css3/columns";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "cimma/widgets/buttons";

//***************************************************************************************************\
//                                                                    | Extend-only selectors
//***************************************************************************************************/

%max-width {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

%full-width {
	margin-right: -50%;
	margin-right: -50vw;
	margin-left: -50%;
	margin-left: -50vw;

	padding-right: 50%;
	padding-right: 50vw;
	padding-left: 50%;
	padding-left: 50vw;
}

//***************************************************************************************************\
//                                                                    | Repeated Elements
//***************************************************************************************************/

// should this be restricted to only within headers?
// or maybe to unordered lists?
.tags {
	$spacing: .75em;

	padding-left: 0;
	margin-left: -$spacing;
	margin-right: -$spacing;

	li {
		display: inline-block;
		margin: 0 $spacing;
	}

	header & {
		margin-top: 0;
	}
}

.listing, %listing {
	@media (min-width: $layout-2-col) {
		@include columns(25em 2);
		//@include column-fill(auto);
		@include column-rule($border-secondary);
		@include column-gap(4em);

		> * {
			page-break-inside: avoid;
			@include break-inside(avoid);

			~ * {
				margin-top: $spacing-primary;
			}

			// if there are 2 elements exactly, we need to force a break to guarantee 2 columns
			&:first-child:nth-last-child(2) {
				margin-bottom: 0; // fix for Presto
				//background: $green-light;
			}

			&:last-child:nth-child(2) {
				//background: $pink-light;
				page-break-inside: column;
				@include break-before(column);
				margin-top: 0; // fix for Presto
			}
		}
	}

	> *:only-child {
		@extend %max-width;
		@include column-span(all);
	}

	p {
		white-space: pre-wrap;
	}

	img {
		display: block;
		margin: 1em auto;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.tag_list {
	@include columns(9em);
}

.year_list {
	text-align: center;
	margin: 1em -.75em;

	li {
		display: inline-block;
		margin: .75em;
	}
}

//***************************************************************************************************\
//                                                                    | Fake Buttons
//***************************************************************************************************/

%button {
	@include border-radius(.5em);
	padding: .5em;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;

	@include button(simple, $neutral-medium) {
		@include button-text($neutral-dark);
		@include button-states;
	}
}

// extra specificity, otherwise the link state colors will override the text color
a.more {
	@extend %button;
}