@import "compass/css3/columns";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "cimma/widgets/buttons";

//***************************************************************************************************\
//                                                                    | Extend-only selectors
//***************************************************************************************************/

%max-width {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

%full-width {
	margin-right: -75%;
	margin-right: -50vw;
	margin-left: -75%;
	margin-left: -50vw;

	padding-right: 75%;
	padding-right: 50vw;
	padding-left: 75%;
	padding-left: 50vw;
}

//***************************************************************************************************\
//                                                                    | Repeated Elements
//***************************************************************************************************/

// should this be restricted to only within headers?
// or maybe to unordered lists?
%minor-navigation, header .tags {
	$spacing: .75em;
	margin-top: 0;

	padding-left: 0;
	margin-left: -$spacing;
	margin-right: -$spacing;

	li {
		display: inline-block;
		margin: 0 $spacing;
	}
}

fieldset .tags {
	@include columns(8em);
}

.listing, %listing {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $layout-2-col) {
		max-width: none;
		@include two-column;

		> * {
			page-break-inside: avoid;
			@include break-inside(avoid);

			padding-bottom: .5em; // Blink fix: solves box-shadow on images being split across columns

			~ * {
				margin-top: $spacing-primary;
			}

			// if there are 2 elements exactly, we need to force a break to guarantee 2 columns
			&:first-child:nth-last-child(2) {
				margin-bottom: 0; // Presto fix: solves margin being split across columns
				//background: $green-light;
			}

			&:last-child:nth-child(2) {
				//background: $pink-light;
				//page-break-before: always; this doesn't seem to do anything for Firefox?
				@include break-before(column);
				margin-top: 0; // Presto fix (see above)
			}
		}
	}

	> *:only-child {
		@extend %max-width;
		@include column-span(all);
	}

	img {
		display: block;
		margin: 1em auto;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.nested-keywords {
	@include columns(9em);
}

.keywords {
	text-align: center;
	margin: 1em -.75em;

	li {
		display: inline-block;
		margin: .75em;
	}
}

//***************************************************************************************************\
//                                                                    | Fake Buttons
//***************************************************************************************************/

%button {
	@include border-radius(.5em);
	padding: .5em;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
}

%button-neutral {
	@extend %button;

	@include button(simple, $neutral-medium) {
		@include button-text($neutral-dark);
		@include button-states;
	}
}

%button-pink {
	@extend %button;

	@include button(simple, $pink-light) {
		@include button-text($pink-dark);
		@include button-states;
	}
}

// extra specificity, otherwise the link state colors will override the text color
a.more {
	@extend %button-neutral;
}

a.featured {
	@extend %button-pink;
}