.admin {
	$layout-2-col: 55em;

	> nav {
		@include flex(1 1 8em);
		@include columns(10em);

		ul ul {
			margin-top: 0;
		}
	}

	> article {
		margin-top: 0;
		@include flex(3 1 34em);
	}

	@media (max-width: $layout-2-col) {
		> nav {
			padding-bottom: $spacing-primary;
			border-bottom: $border-secondary;
		}

		> article {
			margin-top: $spacing-primary;
		}
	}

	@media (min-width: $layout-2-col) {
		@include display-flex;

		> nav {
			@media (min-width: $layout-2-col) {
				border-right: $border-secondary;
				padding-right: $spacing-primary;
				margin-right: $spacing-primary;
			}
		}
	}
}
