#archive {
	max-width: none;

	> header {
		// font-size adjustments to match narrow width layout
		h1 {
			font-size: ms(1);
		}

		nav {
			ul:before, ul:after {
				font-size: ms(-1);
			}
		}

		&:after {
			font-size: ms(-1);
		}
	}

	main {
		@include display-flex;
		@include flex-direction(column);
		margin: 0;
		padding: 0;

		h1 {
			margin-bottom: 0;

			&:before {
				font-size: .8em; // to match narrow width layout
			}
		}

		iframe {
			@include flex(1 1 auto);
			border: none;
			margin: 0;
		}

		footer {
			border-top: 1px solid $green-dark;
			@include inset($padding: 1em) {
				border-top: 1px dotted $green-dark;
			}
			background: $green-light;
			text-align: center;
			@extend %full-width;
		}
	}
}