@import "compass/css3/columns";

.project {
	//@extend %major-section;

	aside {
		text-align: center;
		margin-top: $spacing-primary;
	}

	// probably a bit more specific than we need it to be, but this will do for now
	.listing {
		margin-top: $spacing-primary;

		+ p {
			text-align: center;
		}

		+ aside p:only-child {
			margin-top: $spacing-primary / -2;
		}
	}
}

.history {
	// TODO: remove this
	//@extend %major-section;
}

.details {
	@extend %max-width;

	address {
		text-align: center;
	}
}
