@import "compass/css3/columns";

.project {
	padding-bottom: $spacing-primary / 2; // padding instead of margin to deal with margin-collapse

	> h1 {
		@extend %ruled-header;

		+ section {
			margin-top: 0;
		}
	}

	aside {
		text-align: center;
		margin-top: $spacing-primary;
	}

	// probably a bit more specific than we need it to be, but this will do for now
	.listing + p {
		text-align: center;
	}
}

.details {
	@extend %max-width;
	text-align: center;
	margin-top: $spacing-primary;

	p {
		text-align: left;
	}

	&:after {
		content: '';
		display: block;
		//border-top: $border-secondary;
		margin: 1.5em auto;
		//width: 50%;
		background: url(../images/minor-divider.svg) center bottom / contain no-repeat;
		height: 1.25em;
	}
}
