ul.skills {
	@media not print {
		li {
			@include inset($el: after) {
				background-color: $green-light;
			}

			&:after {
				text-align: right;
				font-size: ms(-1);
				content: '10/10';
				padding-right: 2px;
				@include box-sizing(border-box);
			}
		}
		@for $i from 1 through 9 {
			li[data-level="#{$i}"]:after {
				max-width: $i * 10%;
				content: '#{$i}/10';
			}
		}
	}

	@media print {
		@include columns(8em);
		list-style: none;
	}
}

#resume {
	@media print {
		#skills p {
			display: none;
		}

		main > h1 {
			text-align: left;

			&:after {
				content: attr(data-name);
				text-align: center;
			}
		}
	}
}
